@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@600&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --main-background-color: #FEE9FF;
    --main-text-color: #030303;
    --secondary-text-color: #92929D;
    --blue-accent: #000070;
    --section-background-color: #FCFCFC;
    --main-bg-nav-color: #000070;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    transition: 0.01s;
}

.navbar-brand{
  color: white !important;
  margin-left: .5em !important;
}

.nav-link {
  margin-left: -12.5%;
  padding-left: 10%;
  width: 104.5%;
  color: white !important;
}

.navbar-nav{
  margin-left: 1em;
}

nav {
  background-color: var(--main-bg-nav-color);
  height: 75px;
  width: 100%;
}

.navbar-toggler{
  background-color: white !important;
}

.main {
    background-color: var(--section-background-color);
    width: 80%;
    border-radius: 22px;
    padding: 44px;
    margin-left: 10%;
    margin-top: 5vh;
}

.header{
  font-size: 32px;
  font-weight: 600;
}

.card{
  margin-bottom: 1em;
  position: relative;
  padding: 2px;
}

.card-title{
  color: var(--blue-accent);
}

li::marker {
  color: var(--blue-accent);
}

.date{
  position: absolute;
  right: 1em;
  font-weight: 600;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-nav-color);
    margin-top: 4em;
    height: 50px;
}

footer p, footer p a{
    font-size: 16px;
    color: white;
}

@media only screen and (min-width: 1354px) {
  .navbar-brand {
    font-size: 32px;
  }

  .navbar-nav {
    width: 35%;
  }

  .nav-link {
    font-size: large;
  }
  .nav-link:nth-child(1){
    margin-left: -1em;
  }

  .nav-link:nth-child(2){
    margin-right: 2em;
  }

}

@media only screen and (min-width: 1354px) {
  .navbar-brand {
    font-size: 32px;
  }

  .navbar-nav {
    width: 42.5%;
    margin-left: 3%;
  }

  .nav-link {
    font-size: large;
  }
  .nav-link:nth-child(1){
    margin-right: -0.5em;
  }
}

@media only screen and (max-width: 1353px) {
  .navbar-nav {
    width: 52.5%;
  }
  .nav-link{
    background-color: #000070 !important;
    margin-left: -12.5%;
  }
}
  
  @media only screen and (max-width: 1024px) {
    .navbar-nav {
      width: 57.5%;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .nav-link {
      background-color: #fff;
      width: 226%;
    }
    .main{
      padding: 32px;
    }
  }
  @media only screen and (max-width: 650px){
    .main{
      padding: 10px;
    }
  }
  @media only screen and (max-width: 864px){
    .card-body{
      font-size: 90%;
    }
  }
  @media only screen and (max-width: 800px){
    .date {
      bottom: -1em;
    }
  }